<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
   
  </head>
  
  <body>
    <div class="container">
    <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
    <img class="img-fluid" id="banner" src="https://jovian-careers-website.digvijay2010.repl.co/static/Banner.jpeg.jpg" height=320 >
    <h2 class="text-center  mt-2 mb-4">About Jovian</h2>
     <p class="lead">Lorem ipsum dolor sit amet. Aut voluptates rerum qui commodi quos nam labore adipisci? In vitae enim et ratione adipisci qui ullam eaque est molestiae expedita in dolorem recusandae eum assumenda animi et corrupti dolorem? Hic odit pariatur qui doloribus maxime in similique dolorem aut itaque unde eum natus ullam eum culpa culpa ab autem internos! </p>
    <h2 class="text-center  mt-2 mb-4">Job Openings</h2>
    <div>
        {% for job in jobs %}
           {% include 'jobitem.html' %}
        {% endfor %}
    </div>
    <div class="text-center">
      <button class="btn btn-primary btn-lg">Contact Us</button>
      <p class="mt-4">Copyright 2023 ,Jovian</p>
    </div>
      </div>
  </body>
</html>